body{
    background-image: url("SovietMoon.jpg");
    background-color: #cccccc;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: fit-content;
    text-align: center;
    font-family: Helvetica;
    transition: background-color .5s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1{
    color: red;
    font-weight: bolder;
}

h2{
    font-size: 34px;
    color: white;
    font-weight: bold;
}

h3{
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#LeftFacts{
    float: left;
    text-align: left;
    width: 50%;
    height: 100%;
    color: white;
}

table, th, td {
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

#RightFacts{
    float: right;
    text-align: center;
    width: 50%;
    height: 100%;
    color: white;
}

#Information {
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    line-height: 30px;
}

.Rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}